@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Contact Management Web application</h1>
    <p>.Net Web App Exercise for Alfasoft by Henrique Cardoso</a>.</p>
</div>
